@import "tailwindcss";

body {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}


@theme {
  --animate-marquee: marquee 40s infinite linear;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes spin {
    to { transform: rotate(360deg); }
  }
}


@utility marquee-text-responsive {
  @apply text-[28px] sm:text-[36px] lg:text-[42px];
}

@utility contact-text-responsive {
  @apply text-[42px] sm:text-[52px] md:text-[62px] lg:text-[100px];
}

@utility banner-text-responsive {
  @apply text-[68px] sm:text-[118px] md:text-[126px] lg:text-[152px] leading-9 sm:leading-16 lg:leading-20;
}


@utility value-text-responsive {
  @apply text-2xl md:text-[26px] lg:text-[32px];
}